.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1.5625rem;
}

.accordion__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
}

.accordion__container {
  padding: 1rem 0;
}

.accordion__divider {
  border: 0.5px solid var(--divider-blue);
}
.accordion__questionContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.accordion__arrow {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

.up {
  transform: rotateX(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordion__container button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
}

.accordion__container button:hover {
  cursor: pointer;
  color: var(--text-red);
}

.accordion__answer {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: var(--text-dkblue);
}

.accordion__answer.show {
  height: 25px;
  margin-top: 20px;
}

.accordion__question--bold {
  font-weight: bold;
}

/* DESKTOP STYLES */

@media (min-width: 65em) {
  .accordion {
    text-align: start;
  }

  .accordion__title {
    text-align: start;
    margin-bottom: 35px;
  }
}
